.list {
  display: flex;
  flex-direction: column;
  gap: $unit-0600;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (min-width: $breakpoint-md) {
    display: grid;
    gap: $unit-1400;
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.text {
  margin: 0 0 $unit-0400;
  cursor: default;
  color: var(--color-gray-600);
  font-size: 0.875rem;
}
