.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'logo nav' 'search search';
  align-items: center;
  gap: $unit-0400;
  padding: $unit-0400 $unit-0600;
  background: var(--color-white);
  margin-bottom: $unit-0600;

  @media screen and (min-width: $breakpoint-ty) {
    padding: $unit-0600;
  }

  @media screen and (min-width: $breakpoint-md) {
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: 'logo search nav';
    gap: $unit-0800;
    padding: $unit-1200 $unit-1600;
    margin-bottom: $unit-1400;
  }

  @media screen and (min-width: $breakpoint-lg) {
  }
}

.logo {
  margin: 0;
  grid-area: logo;
}

.search {
  grid-area: search;
  max-width: 448px;
}

.nav {
  grid-area: nav;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.cartButton {
  position: relative;
}

.cartButtonCount {
  position: absolute;
  top: -$unit-0050;
  right: -$unit-0050;
}
