.container {
  display: flex;
  flex-direction: column;
  gap: $unit-0400;

  @media screen and (min-width: 480px) {
    flex-direction: row;
  }
}

.figure {
  width: 100%;
  flex-shrink: 0;
  margin: 0;
  border-radius: $unit-0200;
  overflow: hidden;

  @media screen and (min-width: 480px) {
    width: 104px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: $unit-0200;
  width: 100%;
}

.title {
  margin: 0;
  font-size: 1.125rem;
}

.price {
  margin: 0;
  color: var(--color-gray-500);
  font-size: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: $unit-0100;
}

.count {
  display: block;
  min-width: 24px;
  text-align: center;
  cursor: default;
}
