.link {
  display: block;
  transition: transform 0.3s ease;

  @media (hover: hover) and (pointer: fine) {
    &:focus,
    &:focus-within,
    &:hover {
      transform: translateY(-$unit-0200);

      .button {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.button {
  @media (hover: hover) and (pointer: fine) {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY($unit-0200);

    &:focus {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
