.link {
  display: block;
  transition: 0.3s ease;

  &:focus,
  &:focus-within,
  &:hover {
    @media (hover: hover) and (pointer: fine) {
      transform: translateY(-$unit-0200);
    }

    .button {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.button {
  @media (hover: hover) and (pointer: fine) {
    opacity: 0;
    transform: translateY($unit-0200);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &:focus {
    opacity: 1;
    transform: translateY(0);
  }
}
