.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $unit-0600 $unit-0600;

  @media screen and (min-width: $breakpoint-lg) {
    padding-bottom: $unit-1400;
    padding-left: unset;
    padding-right: unset;
  }
}

// Sizes

.containerSizeMedium {
  max-width: 1400px;
}

.containerSizeSmall {
  max-width: 1200px;
}
