.container {
  box-sizing: border-box;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $unit-0600;
  padding-right: $unit-0600;

  @media screen and (min-width: $breakpoint-lg) {
    padding-left: unset;
    padding-right: unset;
  }

  &.small {
    max-width: 1200px;
  }
}
