.container {
  display: flex;
  gap: $unit-0600;
}

.figure {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 104px;
  flex-shrink: 0;
  border-radius: $unit-0150;
  overflow: hidden;
}

.content {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $unit-0200;
}

.header {
  display: flex;
  flex-direction: column;
  gap: $unit-0200;
}

.title {
  margin: 0;
  font-size: 1.125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  margin: 0;
  color: var(--color-gray-500);
  font-size: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: $unit-0100;
}

.count {
  display: block;
  min-width: 24px;
  text-align: center;
  cursor: default;
}
