.list {
  display: flex;
  gap: $unit-0300;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  width: 100%;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  display: inline-flex;

  &:after {
    content: '/';
    display: inline-block;
    color: var(--color-gray-300);
    margin-left: $unit-0300;
  }

  &:last-of-type {
    &:after {
      display: none;
    }
  }
}

.link {
  color: var(--color-gray-800);
  white-space: nowrap;

  &.current {
    color: var(--color-gray-300);
  }
}
