.section {
  display: flex;
  flex-direction: column;
  border-radius: $unit-0200;
  overflow: hidden;
}

.header {
  position: relative;
  order: 1;
  display: flex;
  flex-direction: column;
  gap: $unit-0200;
  padding: $unit-0800;
  background: var(--color-white);
}

.title {
  margin: 0;
  font-size: 1.25rem;
}

.descrption {
  margin: 0;
  color: var(--color-gray-500);
  font-size: 1.125rem;
}

.cta {
  position: absolute;
  top: 0;
  right: $unit-0600;
  transform: translateY(-50%);
  z-index: 100;
}

.figure {
  position: relative;
  display: block;
  padding: 0 0 100%;
  margin: 0;
}
