.list {
  display: flex;
  flex-direction: column;
  gap: $unit-0600;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 880px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1024px) {
    gap: $unit-0800;
  }

  @media screen and (min-width: 1180px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: $breakpoint-lg) {
    gap: $unit-1200;
  }
}

.text {
  margin: 0 0 $unit-0600;
  cursor: default;
  color: var(--color-gray-600);
  font-size: 0.875rem;
}
